
.DashLite {

}


.DashLite-column{
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: top;

}
.DashLite-column:last-child{
    margin-right:0 !important;
    padding-right:0 !important;
}
.DashLite-column:first-child{
    margin-left:0 !important;
    padding-left:0 !important;
}
.DashLite.fourColumn>.DashLite-column {
    width: calc(25% - 9px);
}
.DashLite.threeColumn>.DashLite-column {
    width: calc(33.33% - 8px);
}
.DashLite.twoColumn>.DashLite-column {
    width: calc(50% - 6px);
}
.DashLite.oneColumn>.DashLite-column {
    width: 100%;
}

.DashLite-item{
    margin-bottom: 10px;
    vertical-align: top;
}
.DashLite-item.drag{
    position: absolute;
}

.DashLite-item-header{
    background-color:rgba(0, 0, 0, 0.1);
    padding: 5px;
    cursor: move;
    
       -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.DashLite-item-content{
    padding: 10px;
}

.DashLite-item-placeholder{
    background-color: grey;
}